/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/CoverBlur.png);
    background-size: cover;
    background-position-y: -100px;
}


/* ESTILOS DEL JUEGO */
#tablero {
    height: 70%;
    transform: translateY(10px);
    background-color: #000;
    background-size: cover;
    position: absolute;
    aspect-ratio: 1/1;
    background-color: rgba(255, 255, 255, 0.363);
    z-index: 0;
}

/* Turno de jugador */
.turno {
    position: absolute;
    bottom: 90%;
    color: #fff;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0px 4px 10px #000000;
}


/* ESTILOS DEL DADO */
.envoltura {
    position: absolute;
    perspective: 600px;
    left: 10%;
}
.dado {
    position: absolute;
    transition: 2s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transform-origin: center;
}
.envoltura:hover .dado {
    transform: rotateY(-360deg) rotateX(360DEG);   
}
/* Caras del dado (Parte negra)*/
.dado > div {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.arriba {
    transform: translateY(-50%) rotateX(90deg);
}
.abajo {
    transform: translateY(50%) rotateX(90deg);
}
.delante {
    transform: translateZ(50px);
}
.detras {
    transform: translateZ(-50px);
}
.izquierda {
    transform: translateX(-50%) rotateY(90deg);
}
.derecha {
    transform: translateX(50%) rotateY(90deg);
}
/* Parte blanca */
.dado > div > div {
    height: 85%;
    width: 85%;
    background-color: #fff;
    transform: translateZ(100px);
}
.arriba > div {
    background-color: #0e0e0e !important;
}
.abajo > div {
    background-color: green !important;
}
/* Puntos */
.punto {
    height: 17px;
    width: 17px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
}
.fila {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* CARA DE 3 */
.izquierda > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 11px 15px;
}
.izquierda .fila:first-child {
    display: flex;

}
.izquierda .fila:nth-child(2) {
    display: flex;
    justify-content: center;
}
.izquierda .fila:last-child {
    display: flex;
    justify-content: right;
}

/* CARA DE 4 */
.delante > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px 15px;
}
.delante .fila {
    justify-content: space-between;
}

/* CARA DE 5 */
.derecha > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px 15px;
}
.derecha .fila {
    justify-content: space-between;
}
.derecha .fila:nth-child(2) {
    justify-content: center;
}

/* CARA DE 6 */
.detras > div {
    display: flex;
    flex-direction: column;
    padding: 11px 15px;
    gap: 3px;
}
.detras .fila {
    justify-content: space-between;
}