/* ESTILOS PARA EL MENÚ */
@font-face {
    font-family: 'Lego';
    src: url(../Fonts/RoladeItalic-Black.ttf);
}
:root {
    --boton-naranja-claro: #F2B705;
    --boton-naranja-medio: #d88d02;
    --boton-naranja-oscuro: #F27405;
    --boton-marron-anaranjado: #732002;
    --boton-marron-oscuro: #260101;
}


.inicio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGEN DE FONDO */
.imagen-menu {
    width: 100%;
    height: 100%;
    background-image: url(../Images/COVER04.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.imagen-menu.desaparecer-fondo {
    animation: desaparecerFondo 1s ease-in-out forwards 350ms;
}
@keyframes desaparecerFondo {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-200px);
        opacity: 0;
        visibility: hidden;
    }
}

/* BOTONES */
.boton {
    width: 230px;
    height: 80px;
    background-color: var(--boton-naranja-claro);
    border-radius: 3px;
    border: 0px solid var(--boton-naranja-medio);
    border-bottom-width: 10px;
    font-family: 'Lego';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 7px 10px #000000;
    box-sizing: content-box;
    user-select: none;
    transform: translateY(-500px);
    animation: aparecerBoton 0.8s ease forwards;
}
.boton > div {
    width: 92%;
    height: 80%;
    border: 1px solid var(--boton-naranja-medio);
    border-bottom-width: 3px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}
.boton > div > div {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.boton > div > div > div {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 0px 2px 0px var(--boton-naranja-medio);
    border: 1px solid var(--boton-naranja-medio);
}
.boton p {
    position: absolute;
    font-size: 1.6em;
    color: #fff;
    text-shadow: 0px 4px 0px var(--boton-naranja-medio);
}
.boton:active {
    border-bottom: 0px;
    transform: translateY(10px) !important;
    box-shadow: none;
}

/* Posición de cada botón */
.play-game {
    top: 250px;
}
.instrucciones {
    top: 370px;
}

/* Colores para el botón instrucciones */
.instrucciones {
    background-color: var(--boton-naranja-oscuro);
    border-radius: 3px;
    border-color: var(--boton-marron-anaranjado);
}
.instrucciones > div {
    border-color: var(--boton-marron-anaranjado);
}
.instrucciones > div > div > div {
    box-shadow: 0px 2px 0px var(--boton-marron-anaranjado);
    border-color: var(--boton-marron-anaranjado);
}
.instrucciones p {
    text-shadow: 0px 4px 0px var(--boton-marron-anaranjado);
}

/* Animaciones para los botones */
.boton.desaparecer-boton {
    animation: desaparecerBoton 0.8s ease-in-out forwards;
}
@keyframes desaparecerBoton {
    from {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(400px);
        visibility: hidden;
    }
}
@keyframes aparecerBoton {
    from {
        transform: translateY(-500px);
    }   
    to {
        transform: translateY(0px);
    }
}

.instrucciones {
    animation-delay: 300ms !important;
}

/* TÍTULO */
.titulo-minotaurus {
    position: absolute;
    width: 600px;
    filter: drop-shadow(0px 0px 10px #000);
    top: 100px;
    transform: translateY(-400px);
    animation: aparecerBoton 0.8s ease forwards 400ms;
    cursor: pointer;
}